<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/landing.css">
    <title>About Page</title>
</head>
<body>
    <!-- Header Section -->
    <div class="header-section clear">
        <div class="mid-content">
            <!-- Logo Container -->
            <div class="header-logo left">
                <a class="logo" href="/">
                    <img src="picture/TaskHive-logo.png" alt="TaskHive logo">
                </a>
            </div>
            <!-- Navigation Menu Container -->
            <div class="header-menu left">
                <div class="primary-menu">
                    <ul>
                        <li><a href="about">About</a></li>
                        <li><a href="#">Contact Us<i class="fa fa-caret-down" aria-hidden="true"></i></a>
                            <ul>
                                <li><a href="#">example@taskmail.com</a></li>
                                <li><a href="#">example@taskhelp.com</a></li>
                                <li><a href="#">012 345 678 90</a></li>
                            </ul>
                        </li>
                        <li><a href="resource">Resources</a></li>
                    </ul>
                </div>
            </div>
           <!-- Login Button Container -->
            <div class="header-button left">
                <a class="header-btn" href="login">Login</a>
            </div>
        </div>
    </div>

    <!-- About Section -->
    <div class="about-section">
        <div class="mid-content">
            <h1>About TaskHive</h1>
           <p>Welcome to TaskHive! We produced a To-Do List website that focusses on the needs of you!, a hard worker. we believe in making planning and organizing your tasks as seamless as possible, so you can focus on effortlessly getting things done.</p>

          <h1>Who Are TaskHive?</h1>
<p>We are a team of students from Goldsmiths University of London, passionate about productivity, convenience, and engagement. As users ourselves, we understand the importance of having a reliable and intuitive tool to manage our daily tasks efficiently. </p>

          <h1>Who is TaskHive For?</h1>
<p>TaskHive was born out of our desire to create a To-Do List planning website that not only helps individuals stay organized but also motivates them to achieve their goals. Whether you're a student juggling assignments, a professional managing deadlines, or anyone striving for better time management, TaskHive is here to support you every step of the way.</p>

          <h1>Our Features</h1>
<p>We realise the struggle people suffer when it comes to tracking productivity and progress.
<br>So here are the features we offer that makes TaskHive worth your use:
</p>

          <h3>Calender Page</h3>
<p1>A large homepage calendar display that provides a clear and aesthetic overview of tasks and event</p1>

<h3>Task Manager</h3>
<p1>A section dedicated to managing tasks and creating schedules. The main control area where you will manage your schedule with ease</p1>

<h3>Notifications and Alarms</h3>
<p1>Alerts are available for the user to utilise to ensure users remember and stay on track with tasks and events</p1>

<h3>Mobile and Desktop Sync</h3>
<p1>You will be able to sync data between your computer or mobile devise. Whether you want to track and manage on the go or settle down on your big screen, TaskHive is accessible on devises of varied sizes and purposes</p1>

<h3>Auto Scheduler</h3>
<p1>Tired of manually inputting a task you have already completed? We have a solution in our auto schedule feature. This feature allows you to set an automatic repeat of a task or event over a set period of time and at a frequency of your choosing.</p1>
        </div>
    </div>

   
</body>
</html>
