<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/landing.css">
    <title>Resources Page</title>
</head>
<body>
    <!-- Header Section -->
    <div class="header-section clear">
        <div class="mid-content">
            <!-- Logo Container -->
            <div class="header-logo left">
                <a class="logo" href="/">
                    <img src="picture/TaskHive-logo.png" alt="TaskHive logo">
                </a>
            </div>
            <!-- Navigation Menu Container -->
            <div class="header-menu left">
                <div class="primary-menu">
                    <ul>
                        <li><a href="/about">About</a></li>
                        <li><a href="#">Contact Us<i class="fa fa-caret-down" aria-hidden="true"></i></a>
                            <ul>
                                <li><a href="#">example@taskmail.com</a></li>
                                <li><a href="#">example@taskhelp.com</a></li>
                                <li><a href="#">012 345 678 90</a></li>
                            </ul>
                        </li>
                        <li><a href="/resource">Resources</a></li>
                    </ul>
                </div>
            </div>
           <!-- Login Button Container -->
            <div class="header-button left">
                <a class="header-btn" href="/login">Login</a>
            </div>
        </div>
    </div>

    <!-- Resource Section -->
    <div class="resource-section">
        <div class="mid-content">
            <h1>Resources</h1>
           <p>These are the resources we used for this project:</p>
          
          <!-- *List the things we used in bullet points -->
          <p>*List the things we used in bullet points*</p>

   
</body>
</html>