<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu & Home</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
</head>
<body>
    <div class="container">
        <!-- Title and Description Section -->
        <header class="header">
            <h1>Stock Market</h1>
            <% if (typeof firstName !== 'undefined') { %>
                <h2>Welcome, <%= firstName %>!</h2>
                <p>You're logged in. Explore the stock market trends and more.</p>
            <% } else { %>
                <h2>Welcome to the Stocks Application</h2>
                <p>Please log in or register to access all features.</p>
            <% } %>
        </header>

        <!-- Menu -->
        <main class="menu-wrapper">
            <ul class="menu">
                <li><a href="/about">About</a></li>
                <li><a href="/stock">Stocks</a></li>
                <% if (typeof userId === 'undefined') { %>
                    <li><a href="./users/login">Login</a></li>
                    <li><a href="/users/register">Register</a></li>
                <% } else { %>
                    <li><a href="./users/logout">Logout</a></li>
                <% } %>
            </ul>
        </main>
    </div>
</body>
</html>
